<div class="container">
  <h1 class="title text-center">Expediente del Interesado</h1>
  <hr>
  <div class="title">
    <label class="text-center"><span class="fas fa-user"></span>   Nombre: {{items.name}}</label>
    <hr>
    <label class="text-center"><i class="fas fa-envelope"></i> E-mail: {{items.email}}</label>
    <hr>
    <label class="text-center"><i class="fas fa-id-card"></i> Numero de Identidad: {{items.cedula}}</label>
    <hr>
    <label class="text-center"><i class="fas fa-phone-alt"></i> Telefono: {{items.phone}}</label>
    <hr>
    <label class="text-center"><i class="fas fa-address-book"></i> Referencias Personales: {{items.ref}}</label>
    <hr>
    <label class="text-center"><i class="fas fa-toolbox"></i> Kompa al que aplcó: {{items.kompas}}</label>
    <hr>
    <div class="images">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              RTN
            </div>
            <a href="{{items.RTN}}" target="blank"><img src="{{items.RTN}}" class="card-img-top"></a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              Curriculum
            </div>
            <a href="{{items.cv}}" target="blank"><img src="{{items.cv}}" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              Licencia
            </div>
            <a href="{{items.lic}}" target="blank"><img src="{{items.lic}}" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              Recibo Público
            </div>
            <a href="{{items.rec}}" target="blank"><img src="{{items.rec}}" class="card-img-top" alt="..."></a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
              Revision del Vehiculo
            </div>
            <a href="{{items.rev}}" target="blank"><img src="{{items.rev}}" class="card-img-top" alt="..."></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
