<header class="header">
  <div class="container">

  </div>
</header>
<div class="fondo">
  <img src="../../../assets/img/El Kompa-logo__2.svg" alt="">
</div>
<a [routerLink]="['/persons']" class="btn btn-primary">ÚNETE</a>
<h3 class="avlb">PRÓXIMAMENTE</h3>
<div class="container">
  <div class="row">
      <div class="col text-center">
        <div class="botones">
          <a href="#" class="btn btn-danger">
              <i class="fab fa-apple btn-icon-prepend mdi-36px"></i>
              <span class="d-inline-block text-left">
                  <small class="font-weight-light d-block">Available on the
                  </small> <p class="appstore">App Store</p>
              </span>
              </a>
          <a href="#" class="btn btn-danger">
              <i class="fab fa-google-play btn-icon-prepend mdi-37px"></i>
              <span class="d-inline-block text-left">
              <small class="font-weight-light d-block">Get it on the
              </small> <p class="playstore">Google Play</p>
              </span>
          </a>
        </div>
          <h5 class="text">FOLLOW US</h5>
          <div class="social">
              <a href="https://www.instagram.com/kompaapp/" target="blank"><i class="fab fa-instagram-square">&nbsp;</i></a>
              <a href="https://www.facebook.com/KompaApp/" target=" blank"><i class="fab fa-facebook-square">&nbsp;</i></a>
              <i class="fab fa-twitter-square"></i>
          </div>
      </div>
  </div>
</div>

